*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --black: #232628;
  --yellow: #FAB637;
  --red: #FF4848;
  --orange: #CC6119;
  --tGray: rgba(242, 242, 242, 0.8);
  --gray: #ECEFF3;
  --white: #FFFFFF;
  --blue: #6C98E1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
}
html::-webkit-scrollbar {
  display: none;
}
html, body {
  height: 100%;

  -ms-overflow-style: none;  / IE and Edge /
scrollbar-width: none;  / Firefox */
}
