*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --black: #232628;
  --yellow: #FAB637;
  --red: #FF4848;
  --orange: #CC6119;
  --tGray: rgba(228, 228, 228, 0.9);
  --gray: #ECEFF3;
  --white: #FFFFFF;
  --blue: #6C98E1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Open-Sans, Verdana, Geneva, Tahoma, sans-serif;
}


#app {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto ;
}
html::-webkit-scrollbar {
  display: none;
}
html, body {
  height: 100%;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


